<style>
.hero-wrap{
    display: none;
}
@media only screen and (max-width: 600px){
    .hero-wrap{
    display: block;
    }
}
</style>

<section class="hero-wrap hero-wrap-2" style="background-image: url('images/ab1.jpg');" data-stellar-background-ratio="0.5">
 <div class="overlay"></div>
 <div class="container">
   <div class="row no-gutters slider-text align-items-center justify-content-center">
   </div>
 </div>
</section>

<section class="container-fluid">
 <div class="container">
   <br/><br/>
   <div class="row">
     <div class="col-md-6">
       <div class="heading-section text-center ftco-animate pb-4">
         <h2>Lucknow University</h2>
         <span class="subheading">Founded in 1867</span>
       </div>
       <p class="justify">University of Lucknow is public authorised university
         founded in 1867 with a motto of Light and Learning located in capital city of Uttar
         Pradesh. Lucknow University established in 1920 with a wide campus area of 220
         acres. With over more than 160 affiliated collages and 1,00,000 +students, the
         university offers undergraduate, postgraduate and research courses in various
         streams such as Arts, Science, Commerce, Law, and FineArts.<br/><br/>
         Affiliations with UGC, AIU, NAAC, ACU, BCI.<br/>
         University Grants Commission in 1921.
       </p>
     </div>
     <div class="col-md-6">
       <div class="heading-section text-center ftco-animate pb-4">
       <h2>Faculty of Law</h2>
       <span class="subheading">Lucknow University</span>
     </div>
       <p class="justify">The Faculty of Law, University of Lucknow is a pioneer legal institution established in 1921. The real
         architect was Prof. R. U. Singh with keenness and enthusiasm organized teaching and research in the
         faculty
         in the systematic way. The Faculty has produced many legal personalities including former President of
         India, Supreme Court and High Court Judges, law makers and etc. The Faculty include experts’ legal members
         and bright students with brilliant minds. The Faculty is running a Centre of Excellence on Gandhian Dream
         of
         Litigation Free Village. The Law Faculty was separated from main Campus and shifted to the new Campus
         having
         a total area of more than 75 acres located on the
         Sitapur Road, Lucknow from 2002-03
       </p>
     </div>
     </div>
     <div class="col-md-12">
       <br/>
       <div class="heading-section text-center ftco-animate pb-4">
         <h2>Legal Aid Clinic</h2>
       </div>
       <p>Legal Aid Clinic is an initiative of the
         Faculty of Law,
         University of Lucknow with the determination to promote 'EQUAL ACCESS
         TO
         JUSTICE’. The centre is a specialized organ of the faculty of law which is
         playing
         active role in providing legal aid to the public at large. It intends to
         provide the free
         legal aid to those unprivileged, marginalised or deprived classes of
         society. The
         Centre was established with the objective to promote legal awareness by means of
         pro-bono programs like Consultation Camps, Workshops, Seminars, Menstrual
         Hygiene and Cleanliness Drives, Legal Aid and Awareness Sessions and
         Legal
         Literacy Programs. The Centre invites various practicing advocates and
         legal
         academicians to render their support to the indigent.

         The Legal Aid Clinic has collaboration with District Legal Services
         Authority of
         Lucknow, other social institutions and other NGOs of Lucknow. The Centre has
         three
         paralegal volunteers deputed by DLSA. The services of our centre is accessible
         to all


         seven days of week with the timing of 2:00 pm to 6:00 pm.
         <br/><br/><br/><br/>
       </p>
     </div>
     </div>
   </div>
 </div>
</section>