<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="wrapper px-md-4">
                    <div class="row mb-5">
                        <div class="col-md-4">
                            <div class="dbox w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fa fa-map-marker"></span>
                        </div>
                        <div class="text">
                        <p><span>Address:</span> Faculty of Law, University of
                            Lucknow,Jankipuram,Lucknow,Uttar Pradesh, India</p>
                      </div>
                  </div>
                        </div>
                        <div class="col-md-4">
                            <div class="dbox w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fa fa-phone"></span>
                        </div>
                        <div class="text">
                        <p><span>Phone:</span> <a href="tel://8840725432">+ 91
                                7991 200 596</a></p>
                      </div>
                  </div>
                        </div>
                        <div class="col-md-4">
                            <div class="dbox w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fa fa-paper-plane"></span>
                        </div>
                        <div class="text">
                        <p><span>Email:</span> <a href="mailto:vidhiksewalu@gmail.com">vidhiksewalu@gmail.com</a></p>
                      </div>
                  </div>
                        </div>
                        <div class="col-md-4">
                            <div class="dbox w-100 text-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-whatsapp"></span>
                                </div>
                                <div class="text">
                                    <p><span>Whatsapp:</span> <a href="whatsapp://send?abid=917991200596&text=Assist%2C%20me!">Message</a></p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
            </div>
        </div>
    </div>
</section>
