<section class="hero-wrap" style="background-image: url('images/lu_en.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center">
        <div class="col-md-8 ftco-animate d-flex align-items-end">
            <div class="text w-100">
              <h1 class="mb-4 quote-m">Equal Access<br/>To Justice<br/>For All</h1>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt mt-5 mt-md-0">
    <div class="container">
        <div class="row">
            <div class="col-md-4 d-flex align-items-stretch ftco-animate">
                <div class="services-2 text-center">
                    <div class="icon-wrap">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="flaticon-model"></span>
                        </div>
                    </div>
                    <h2>Together</h2>
                    <p>Let's work together and make the world a better place.</p>
                </div>
              </div>
            <div class="col-md-4 d-flex align-items-stretch ftco-animate">
                <div class="services-2 text-center">
                    <div class="icon-wrap">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="flaticon-heart"></span>
                        </div>
                    </div>
                    <h2>Assistance</h2>
                    <p>We are dedicated to our work, and we'll help you in every possible way.</p>
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-stretch ftco-animate">
                <div class="services-2 text-center">
                    <div class="icon-wrap">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="flaticon-fantasy"></span>
                        </div>
                    </div>
                    <h2>Experts</h2>
                    <p>Our team will walk you through all your legal and social problems.</p>
                </div>
            </div>
      </div>
  </section>

  <section class="help-sec ftco-animate">
    <div class="container">
        <h2 class="text-center">Get Help</h2>
        <div class="text-center">
            <div class="divider"></div>
        </div>
        <p class="text-center">
            A person facing civil legal problems related to health, housing, family, money and work does not have a
            right
            to a
            court appointed lawyer in most cases. Legal Aid works to fill this gap and help as many people as possible.
        </p>
        <div class="row">
            <div class="mx-auto">
                <button type="button" class="btn btn-outline-warning" style="color: #212121;">Click here to
                    reach us.</button>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 img img-3 d-flex justify-content-center align-items-center ftco-animate">
                <img src='images/fist.svg'/>
            </div>
            <div class="col-md-6 wrap-about pl-md-5 ftco-animate py-5">
            <div class="heading-section">
                <h2 class="text-center">What's Legal Aid?</h2>
                <p style="text-align: justify;">
                    The Legal Services Clinic offers legal services by the students. It provides free legal services to the socially
                    and the economically backward sections of the society who have difficulty accessing the judicial system.
                </p>
                <div class="text-center">
                    <div class="divider"></div>
                </div>
                <br/>
                <h2 class="text-center">Our Causes</h2>
                <p style="text-align: justify;">"I had learnt the true practice of law, I had learnt to find out the better side of human nature and to
                    enter men's hearts I realized that the true function of a lawyer was to unite parties given as under.
                    The lesson was so indelibly burnt into me that large part of my time during the twenty years of my
                    practice as a lawyer was occupied in bringing about private compromises of hundreds of cases"</p>
            </div>

            </div>
        </div>
    </div>
</section>