<br/>
<section class="patron">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="heading-section text-center ftco-animate">
                    <h3>Dean C P Singh</h3>
                    <span class="subheading">Vice Chancellor</span>
                </div>
                <p class="justify">
                    Professor Chandra Prakash Singh is the Head of the Department of
                    Law. He is
                    dynamic law teacher and the Dean of Faculty of Law, Lucknow University. He has
                    published many articles till now and has specialisation in Contract, Land Laws
                    and
                    Business Law.
                    <br />
                    *[His thought or quote can be inserted too.]
                    <br /><br />
                </p>
            </div>
            
            <div class="col-md-6">
                <div class="heading-section text-center ftco-animate">
                    <h3>Dr Anuraag Kumar Srivastava</h3>
                    <span class="subheading">Chairperson</span>
                </div>
                <p class="justify">
                    Dr. Anuraag Kumar Srivastava is the chairperson of Legal Aid Clinic. More than
                    10
                    numbers of India and International papers have been published on his name. He
                    is a
                    seasoned professional with experience spanning of 14 years in teaching
                    and
                    researching. Unaccountable numbers of workshops and Paper presentations have
                    been attended by him. Corporate Law, Labour and Industrial Law and Taxation Laws
                    are his main interest areas in which he has conducted several workshops and
                    guest
                    lectures.
                    <br />
                    *[His thought or quote can be inserted too.]
                </p>
            </div>
        </div>
    </div>
</section>
<br/><br/><br /><br />