<div class="container mt-5">
        <h1 style="text-align: center">Create a New Case</h1>
        <%- include('../partials/messages'); %>
        <div class="mt-5">
            <form action="/cases/" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="subject">Subject</label>
                    <input class="form-control" type="text" name="subject" placeholder="Subject" required>
                </div>
                <div class="form-group">
                    <label for="contactEmail">Email</label>
                    <input class="form-control" type="email" name="contactEmail" placeholder="Enter an email address if you want to use the registered email leave blank">
                </div>
                <div class="form-group">
                    <label for="mobileNo">Mobile No.</label>
                    <input class="form-control" type="number" name="mobileNo" placeholder="Enter your mobile number" required>
                </div>
                <div class="form-group">
                    <label for="details">Details</label>
                    <textarea class="form-control"  name="details" placeholder="Details"></textarea>
                </div>
                <div class="form-group">
                    <label for="file">Attachement</label>
                    <input class="form-control" type="file" name="attachement">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
    </div>
</div>